#div_groups{
    text-align: center;
    padding: 40px;
}

#div_groups a{
    color: #ffffff;
}


#div_groups a:hover{
    text-decoration: none;
    color: #cccc00;
}

#a_subjects {
    text-decoration: none;
    color: #ffffff;
}