{% extends "_base.html" %}

{% block content %}
    <table>
        <tr valign="top">
            <br>
            <img src="{{ user.avatar(128) }}">
            <h1>{{ user.username }}</h1>
            <p> Index: {{ user.student.index }}</p>
            <p> Name: {{ user.student.name }}</p>
            <p> Surname: {{ user.student.surname }}</p>
            <p> Faculty: {{ user.student.faculty.name }}</p>
            <p> Major: {{ user.student.major.name }}</p>
            <p> Year: {{ user.student.year.nr }}</p>
            <h2><a class="u-email" href="mailto:{{ user.email }}">{{ user.email }}</a></h2>
            {% if user.about_me %}<p>About me: {{ user.about_me }}</p>{% endif %}
                {% if user.last_seen %}<p>Last seen on: {{ user.last_seen }}</p>{% endif %}
                <p><a href="{{ url_for('edit_profile', id=user.student.id)}}">Edit your profile</a></p>
                <p><a href="{{ url_for('delete_account', id=user.student.id)}}">Delete your account</a></p>

        </tr>
    </table>
    <hr>
{% endblock %}