<!doctype html>
<html lang=en>
<meta charset=utf-8>
<head>
  <title>Students manager</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/students.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/faculties.css') }}">
</head>

<body>
<div class="container-fluid">
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      {% if current_user.admin == True %}
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('admin.index')}}"><p class="menu">ADMIN</p></a>
      </li>
      {% endif %}

      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('home_page') }}"><p class="menu">HOME PAGE</p></a>
      </li>
      {% if page_id == 'home_page' %}
      <li class="nav-item">
        <a class="navigation nav-link" href="#about_us"><p class="menu">OUR TEAM</p></a>
      </li>
      <li class="nav-item">
        <a class="navigation nav-link" href="#events"><p class="menu">EVENTS</p></a>
      </li>
      <li class="nav-item">
        <a class="navigation nav-link" href="#contact"><p class="menu">CONTACT</p></a>
      </li>
      {% endif %}

      {% if current_user.is_authenticated and current_user.admin == False %}
      {% set id = current_user.id - 1 %}
      <li class="nav-item">
        <a class="nav-link" href="/students/{{id}}"><p class="menu">PROFILE</p></a>
      </li>
      {% endif %}
        {% if current_user.is_authenticated %}
            <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenu" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          MENU
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenu">
          <a class="dropdown-item" href="{{ url_for('students')}}"><p class="menu">STUDENTS</p></a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{{ url_for('faculties') }}"><p class="menu">FACULTIES</p></a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{{ url_for('schedule')}}"><p class="menu">SCHEDULE</p></a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{{ url_for('calendar') }}"><p class="menu">CALENDAR</p></a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{{ url_for('all_files') }}"><p class="menu">NOTES</p></a>
        </div>
      </li>
      {% endif %}

    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownYourAccount" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          YOUR ACCOUNT
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownYourAccount">
          {% if not current_user.is_authenticated %}
          <a class="dropdown-item" href="{{ url_for('login')}}"><p class="menu">LOG IN</p></a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{{ url_for('register') }}"><p class="menu">REGISTER</p></a>
          {% else %}
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{{ url_for('logout') }}"><p class="menu">LOG OUT</p></a>
        {% endif %}
        </div>
    </ul>
  <div class="search">
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
      </div>
  </div>
</nav>

    <div class="row">
      <div class="col-12">
        <div id="messages">
          {% with messages = get_flashed_messages() %}
            {% if messages %}
              <div data-alert class="alert alert-success alert-dismissible show">
                {% for message in messages %}
                  <li>{{ message|urlize(30) }}</li>
                {% endfor %}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            {% endif %}
          {% endwith %}
        </div>
      </div>
    </div>

    {% block content %}{% endblock %}

</div>
{#<div style="position: absolute; top: 70px; right: 19px;">#}
{#<iframe src="https://open.spotify.com/embed?uri=spotify:user:filtr.pl:playlist:3PBsNJ0km6kAVbjrtpHKSO&theme=white" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>#}
{#</div>#}
<!---       google search        -->
{#<script>#}
{#  (function() {#}
{#  var cx = '017643444788069204610:4gvhea_mvga'; // Insert your own Custom Search engine ID here#}
{#  var gcse = document.createElement('script'); gcse.type = 'text/javascript'; gcse.async = true;#}
{#  gcse.src = (document.location.protocol == 'https' ? 'https:' : 'http:') +#}
{#      '//www.google.com/cse/cse.js?cx=' + cx;#}
{#  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(gcse, s);})();#}
{#</script>#}
{#<gcse:search enableAutoComplete="true"></gcse:search>#}

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <script src="{{ url_for('static', filename='js/do.js') }}"></script>

</body>
</html>
