{% extends "_base.html" %}

{% set page_id = 'login' %}
{% block content %}
<h2>Notes</h2>
    <div class="content">
<ul>
{%- for item in tree.children recursive %}
    <li><a href="notes/{{ item.name }}"> {{ item.name }} </a>
    {%- if item.children -%}
        <ul>{{ loop(item.children) }}</ul>
    {%- endif %}</li>
{%- endfor %}
</ul>
    </div>
<h2>Upload files</h2>
<form method=post enctype=multipart/form-data>
    <input type=file name=file style="color: white">
    <input type="submit">
</form>
{% endblock %}