{% extends "_base.html" %}

{% set page_id = 'dirtree' %}
{% block content %}

    <div class="row">
        <div class="col" align="center">
            <h2>NOTES</h2>
        </div>
    </div>
    <div class="content">

     <div class="row">
         <div class="col" align="center">
             <button><a href="{{ url_for('upload_file') }}">Upload file</a></button>
         </div>
     </div>

    <ul>
{%- for item in tree.children recursive %}
    <li><a href="notes/{{ item.name }}"> {{ item.name }} </a>
    {%- if item.children -%}
        <ul>{{ loop(item.children) }}</ul>
    {%- endif %}</li>
{%- endfor %}
    </ul>
    </div>
{% endblock %}