{% extends "_base.html" %}

{% set page_id = 'home_page' %}


{% block content %}

  <div class="container-fluid">
    <div class="row justify-content-center" id="welcome_image" style="padding: 50px;">
      <img src="{{ url_for('static', filename='img/welcome2.jpg') }}" width="1345px" height="580">
    </div>

    <div id="about_us" class="row justify-content-center">
      <div class="col-md-4">
        <h2>ABOUT US</h2>
      </div>
    </div>

    <div id="events" class="row justify-content-center">
      <div class="col-md-4">
        <h2>EVENTS</h2>
      </div>
    </div>

    <div id="contact" class="row justify-content-center">
      <div class="col-md-4">
        <h2>CONTACT</h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-3">
        <i class="fa fa-map-marker"></i>
        <p>Address</p>
        <p>
          Aaa Bbb<br>
          ul. Ccc<br>
          00 - 000 Poznań
        </p>
      </div>
      <div class="col-md-3">
        <i class="fa fa-envelope"></i>
        <p>E-mail</p>
        <p>xxx.yyy@gmail.com</p>
      </div>
      <div class="col-md-3">
        <i class="fa fa-phone"></i>
        <p>Phone</p>
        <p>000 000 000</p>
      </div>
    </div>
  </div>

{% endblock %}