{% extends "_base.html" %}

{% set page_id = 'home_page' %}


{% block content %}

  <div class="container">
    <div class="row no-pad">
      <div class="col-md-4 offset-md-4">
        <h2>CONTACT</h2>
      </div>
    </div>
    <div class="row no-pad">
      <div class="col-md-3 offset-md-2 centered">
        <i class="fa fa-map-marker"></i>
        <p>Address</p>
        <p>
          Aaa Bbb<br>
          ul. Ccc<br>
          00 - 000 Poznań
        </p>
      </div>
      <div class="col-md-3 centered">
        <i class="fa fa-envelope"></i>
        <p>E-mail</p>
        <p>xxx.yyy@gmail.com</p>
      </div>
      <div class="col-md-3 centered">
        <i class="fa fa-phone"></i>
        <p>Phone</p>
        <p>000 000 000</p>
      </div>
    </div>
  </div>

{% endblock %}