{% extends "_base.html" %}

{% set page_id = 'login' %}
{% block nav_home %}active{% endblock %}
{% block content %}
  <div class="row">
    <div class="col-2"></div>

    <div class="col-8">
      <h3>Login</h3>
    </div>
{% from "_formhelpers.html" import render_field %}
<form method=post>
  <dl>
    {{ render_field(form.username) }}
    {{ render_field(form.password) }}
  </dl>
    <div class="checkbox">
        <label>
            <input id="remember_me" name="remember_me" type="checkbox" value="y"> Remember me
        </label>
    </div>
  <p><input type=submit value=Login>
</form>


    <div class="col-2"></div>
  </div>
{% endblock %}