{% extends "_base.html" %}

{% set page_id = 'register' %}

{% block content %}
  <div class="row">
    <div class="col-2"></div>

    <div class="col-8">
      <h3>Rejestracja</h3>
    </div>
{% from "_formhelpers.html" import render_field %}
<form method=post>
  <dl>
    {{ render_field(form.username) }}
    {{ render_field(form.email) }}
    {{ render_field(form.password) }}
    {{ render_field(form.confirm) }}
  </dl>
  <p><input type=submit value=Register>
</form>

    <div class="col-2"></div>
  </div>
{% endblock %}
