{% extends "_base.html" %}

{% set page_id = 'upload' %}
{% block content %}

    <div class="row">
        <div class="col" align="center">
            <h2>UPLOAD FILE</h2>
        </div>
    </div>
    <div class="content">

        <div class="row">
            <div class="offset-md-2">
                <span class="control-fileupload">
                    <label for="fileInput">Choose a file :</label>
                    <input type="file" id="fileInput">
                </span>
            </div>
        </div>

<script>
    $(function() {
  $('input[type=file]').change(function(){
    var t = $(this).val();
    var labelText = 'File : ' + t.substr(12, t.length);
    $(this).prev('label').text(labelText);
  })
});
    </script>
{% endblock %}