{% extends "_base.html" %}

{% block content %}

<div class="row">
    <div class="col-2"></div>

    <div class="col-8">
      <h3>Zmiana hasła</h3>
    </div>
{% from "_formhelpers.html" import render_field %}
<form method=post>
  <dl>
      {{ form.csrf_token }}
    {{ render_field(form.password) }}
      {{ render_field(form.new_password) }}
    {{ render_field(form.confirm) }}
  </dl>
  <p><input type=submit value="Change password">
</form>

    <div class="col-2"></div>
  </div>
{% endblock %}
