{% extends "_base.html" %}

{% set page_id = 'delete' %}

{% block content %}
  <div class="row">
    <div class="col-2"></div>

    <div class="col-8">
        <br>
      <h3>Delete your account</h3><br>
    </div>
{% from "_formhelpers.html" import render_field %}
<form method=post>
  <dl>
      {{ form.csrf_token }}
      Are you absolutely sure?
      Please type in the password of your account to confirm.
      <br>
      <br>
    {{ render_field(form.password) }}

      <p>{{ form.submit() }}</p>
  </dl>
</form>

    <div class="col-2"></div>
  </div>
{% endblock %}
