{% extends "_base.html" %}

{% set page_id = 'login' %}
{#{% block nav_home %}active{% endblock %}#}
{% block content %}
      <h2>Login</h2><br>
{% from "_formhelpers.html" import render_field %}
      <div class="content">
<form method=post>
  <dl>
      {{ form.csrf_token }}
    {{ render_field(form.username) }}
    {{ render_field(form.password) }}
  </dl>
    {{ form.remember_me(class="btn btn-success btn-block") }}<br>
    <p>{{ form.submit(class="submit-button") }}</p>
</form>
      </div>
    <form action="{{ url_for('forgot_password') }}">
    <input type="submit" class="submit-button" value="Forgot password" />
</form>

    <script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '{your-app-id}',
      cookie     : true,
      xfbml      : true,
      version    : '{latest-api-version}'
    });

    FB.AppEvents.logPageView();

  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
{% endblock %}