{% extends "_base.html" %}

{#{% block nav_home %}active{% endblock %}#}
{% block content %}
    <style>
    .content {
        padding: 20px 500px 0px;
    }
</style>
    <div class="content">
      <h2>Login</h2><br>
{% from "_formhelpers.html" import render_field %}
<form method=post>
  <dl>
      {{ form.csrf_token }}
    {{ render_field(form.username) }}
    {{ render_field(form.password) }}
      {{ form.remember_me(class="btn btn-success btn-block") }}<br>
  </dl>
    <p>{{ form.submit(class="submit-button") }}</p>
</form>
    <form action="{{ url_for('forgot_password') }}">
    <input type="submit" class="submit-button" value="Forgot password">
</form>
    </div>
{% endblock %}