{% extends "_base.html" %}

{% set page_id = 'login' %}
{% block nav_home %}active{% endblock %}
{% block content %}
  <div class="row">
    <div class="col-2"></div>

    <div class="col-8">
      <h3>Login</h3>
    </div>
{% from "_formhelpers.html" import render_field %}
<form method=post>
  <dl>
      {{ form.csrf_token }}
    {{ render_field(form.username) }}
    {{ render_field(form.password) }}
  </dl>
    {{ form.remember_me(class="btn btn-success btn-block") }}
    <p>{{ form.submit() }}</p>
</form>


    <div class="col-2"></div>
  </div>
    <div class="center">
    <div class="fb-login-button" data-size='xlarge' data-scope="public_profile">
        Sign in
    </div>
    </div>
{% endblock %}