<head>
    <script src='https://www.google.com/recaptcha/api.js'></script>
</head>

{% extends "_base.html" %}

{% set page_id = 'register' %}

{% block content %}

<meta name="viewport" content="width=device-width, initial-scale=1">
<style>

ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #eee;
}
ul.breadcrumb li {
    display: inline;
    font-size: 16px;
}
ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}
ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}
ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
</style>
</head>
<body>

<ul class="breadcrumb">
  <li><a href="{{ url_for('home_page') }}">Home</a></li>
  <li>Register</li>
</ul>
    <h2>Register</h2>
{% from "_formhelpers.html" import render_field %}
      <div class="content">
<form method=post>
  <dl>
      {{ form.csrf_token }}
    {{ render_field(form.username) }}
      {{ render_field(form.email) }}
    {{ render_field(form.password) }}
    {{ render_field(form.confirm) }}
      {{ render_field(form.index) }}
      {{ render_field(form.name) }}
      {{ render_field(form.surname) }}
      {{ render_field(form.faculty) }}
      {{ render_field(form.major) }}
      {{ render_field(form.year) }}
      {{ render_field(form.group) }}
      {{ render_field(form.recaptcha) }}
      <p>{{ form.submit(class="submit-button") }}</p>
  </dl>
</form>
          </div>
{% endblock %}
